* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  // overflow-y: overlay;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}

body,
section,
aside,
main,
header,
footer,
button,
div {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
