@import '../../variables.scss';

.icon_login {
  cursor: pointer;

  circle {
    stroke: $white;
    fill: transparent;
    cursor: pointer;
  }
  path {
    fill: $white;
  }
}

.icon_arrow {
  cursor: pointer;

  path {
    fill: $blue;
  }
}
