/* VARIABLES */
body {
  position: relative;
  overflow-y: overlay;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

body,
section,
aside,
main,
header,
footer,
button,
div {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.tagline {
  font-size: 5.25rem;
  font-weight: 700;
  font-family: "Merriweather";
  line-height: 6.625rem;
  letter-spacing: 0px;
  color: #080029;
}
.tagline span {
  position: relative;
}
.tagline span span:last-child {
  position: absolute;
  bottom: 54.5px;
  left: 2px;
  color: #d00000;
}

h2 {
  font-size: 1.375rem;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 1.629375rem;
  letter-spacing: 0.115em;
  color: #0b0b0b;
}

h3 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Merriweather";
  line-height: 3.2625rem;
  letter-spacing: 0px;
  color: #080029;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Rubik";
  line-height: 2.025rem;
  letter-spacing: 0px;
  color: #0b0b0b;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 1.7325rem;
  letter-spacing: 0px;
  color: #747474;
}

.tag {
  color: #626262;
}

.body {
  background-color: #fcfcfc;
  padding-top: 25px;
}

@media screen and (max-width: 1199px) {
  .body {
    padding-top: 0;
  }
}
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content-container {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 61px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Rubik";
  line-height: 1.333125rem;
  letter-spacing: 0px;
  color: #fcfcfc;
  outline: none;
}
.btn::-moz-focus-inner {
  border: none;
}

.btn-round {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 1px solid #080029;
  background-color: #080029;
  outline: none;
}
.btn-round::-moz-focus-inner {
  border: none;
}
.btn-round:hover {
  border: 1px solid #0f0049;
  background-color: #0f0049;
}
.btn-round:active {
  border: 1px solid #150068;
  background-color: #150068;
}

.wrapper {
  width: 1800px;
  margin: 0 auto;
  height: 100%;
}

.wrapper-inner {
  width: 1432px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.wrapper-inner_one-side {
  width: 1616px;
  margin-left: auto;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1919px) {
  .wrapper {
    width: 1120px;
  }

  .wrapper-inner {
    width: 976.25px;
    margin-left: auto;
    margin-right: 0;
  }

  .wrapper-inner_one-side {
    width: 976.25px;
    margin-left: auto;
    margin-right: 0;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper {
    width: 600px;
  }

  .wrapper-inner {
    width: 600px;
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper-inner_one-side {
    width: 600px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 639px) {
  .wrapper {
    width: 300px;
  }

  .wrapper-inner {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper-inner_one-side {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }
}
/***** HEADER ******/
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
}
.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}
.header li:hover {
  transform: scale(1.1);
}
.header li > a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 1.7325rem;
  letter-spacing: 0px;
  color: #080029;
}
.header li > a:hover {
  color: #3888ff;
}
.header li > a:active {
  color: #150068;
}
.header .burger {
  display: none;
  position: absolute;
  width: 55px;
  height: 50px;
}
.header .burger img {
  width: 55px;
  height: 50px;
}

@media screen and (max-width: 1919px) {
  .header {
    height: 70px;
  }
}
@media screen and (max-width: 1199px) {
  .header {
    height: 89px;
    border-bottom: 2px solid #f0f0f0;
  }
}
@media screen and (max-width: 639px) {
  .header {
    height: 62px;
  }
}
.header .active {
  transform: scale(1.1);
}
.header .active a {
  color: #3888ff;
  cursor: default;
}
.header .active a:hover {
  color: #3888ff;
  cursor: default;
}
.header .active a:active {
  color: #3888ff;
  cursor: default;
}

.header-main {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid #f0f0f0;
  background-color: #fcfcfc05;
}
.header-main nav {
  flex: 5 0 184px;
  margin-right: auto;
  max-width: 800px;
}
.header-main .login {
  flex: 0 0 144px;
}
.header-main .logo-container {
  flex: 0 0 184px;
  height: 100%;
}

@media screen and (max-width: 1919px) {
  .header-main .logo-container {
    flex: 0 0 143.25px;
  }
  .header-main nav {
    flex: 4 0 136.25px;
    margin-right: auto;
    max-width: 678px;
  }
  .header-main .login {
    flex: 0 0 42.25px;
  }
}
@media screen and (max-width: 1199px) {
  .header-main {
    border-color: transparent;
  }
  .header-main nav {
    visibility: hidden;
    max-width: 400px;
  }
  .header-main .login {
    display: none;
  }
  .header-main .burger {
    display: block;
    right: 0px;
    top: 17px;
  }
}
@media screen and (max-width: 639px) {
  .header-main {
    border-color: transparent;
  }
  .header-main nav {
    flex-grow: 0;
    visibility: hidden;
    position: absolute;
  }
  .header-main .login {
    display: none;
  }
  .header-main .burger {
    display: block;
    width: 40px;
    height: 22px;
    right: -4px;
    top: 17px;
  }
  .header-main .burger img {
    width: 40px;
    height: 22px;
  }
}
.logo {
  height: 100%;
  width: 90px;
  border: 2px solid #f0f0f0;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  top: -2px;
  left: -2px;
  height: 90px;
  width: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 51.87px;
  height: 40px;
  margin: 0 auto;
}
.logo a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-login {
  position: relative;
  width: 52px;
  height: 52px;
  background-color: #080029;
  border-color: #080029;
  border-radius: 50%;
}
.btn-login:hover {
  background-color: #0f0049;
  border-color: #0f0049;
}
.btn-login:active {
  background-color: #150068;
  border-color: #150068;
}
.btn-login::before, .btn-login::after {
  content: "";
  position: absolute;
  border: 2px solid #fcfcfc;
}
.btn-login::before {
  top: 7px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.btn-login::after {
  top: 31px;
  width: 32px;
  height: 23px;
  border-radius: 75%;
}

@media screen and (max-width: 1919px) {
  .logo-container .logo {
    margin-top: 0px;
    margin-left: 0px;
    width: 70px;
    height: 70px;
    border-bottom-color: transparent;
  }

  .logo-container .logo img {
    visibility: visible;
    width: 42px;
    height: 42px;
    margin: 0;
  }

  .btn-login {
    width: 42px;
    height: 42px;
  }
}
@media screen and (max-width: 1199px) {
  .logo-container .logo {
    margin-top: 19px;
    width: 50px;
    height: 50px;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }

  .logo-container .logo img {
    visibility: visible;
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .btn-login {
    visibility: hidden;
  }
}
@media screen and (max-width: 639px) {
  .logo-container .logo {
    margin-top: 12px;
    width: 38px;
    height: 38px;
  }

  .logo-container .logo img {
    width: 38px;
    height: 38px;
  }
}
/********** MAIN **************/
.main .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.main h3 {
  margin-top: 87px;
  z-index: 1;
}
.main p {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Rubik";
  line-height: 2.025rem;
  letter-spacing: -0.4px;
  color: #080029;
  margin-top: 7px;
}
.main h3 + p {
  margin-top: 32px;
}
.main p:last-child {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 1.73125rem;
  letter-spacing: 0px;
  color: #747474;
  width: 400px;
  text-align: center;
  margin-bottom: 82px;
}

.support {
  color: #609fff;
  cursor: pointer;
  text-decoration: underline;
}
.support:hover {
  color: #3888ff;
}
.support:active {
  color: #150068;
}

.image-404 {
  position: absolute;
  left: 42.25%;
  top: 63px;
  width: 340px;
  height: 124px;
  z-index: 0;
  background-image: url("../../assets/images/image-404.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-back {
  width: 310px;
  margin-top: 50px;
  background-color: #080029;
  border-color: #080029;
  color: #fcfcfc;
}
.btn-back:hover {
  background-color: #0f0049;
  border-color: #0f0049;
  color: #fcfcfc;
}
.btn-back:active {
  background-color: #150068;
  border-color: #150068;
  color: #fcfcfc;
}

.video {
  margin-top: 80px;
  margin-bottom: 50px;
  width: 900px;
  height: 510px;
  border-radius: 7px;
}

@media screen and (max-width: 1919px) {
  .main .wrapper {
    padding-top: 50px;
  }
  .main h3 {
    margin-top: 99px;
    font-size: 28px;
  }
  .main p {
    font-size: 18.2px;
    margin-top: -3px;
  }
  .main h3 + p {
    margin-top: 23px;
  }
  .main p:last-child {
    width: 420px;
    text-align: center;
    margin-bottom: 77px;
    font-size: 17px;
    letter-spacing: -0.45px;
  }

  .support {
    color: #609fff;
    cursor: pointer;
    text-decoration: underline;
  }
  .support:hover {
    color: #3888ff;
  }
  .support:active {
    color: #150068;
  }

  .image-404 {
    left: 39.25%;
    top: 93px;
    width: 250px;
    height: 104px;
  }

  .btn-back {
    width: 260px;
    margin-top: 37px;
    height: 52px;
    font-size: 16px;
  }

  .video {
    margin-top: 80px;
    margin-bottom: 61px;
    width: 830px;
    height: 470px;
  }
}
@media screen and (max-width: 1199px) {
  .main .wrapper {
    padding-top: 50px;
  }
  .main h3 {
    margin-top: 99px;
    font-size: 26px;
  }
  .main p {
    font-size: 16.5px;
    letter-spacing: -0.5px;
    margin-top: -7px;
  }
  .main h3 + p {
    margin-top: 16px;
  }
  .main p:last-child {
    width: 415px;
    text-align: center;
    margin-bottom: 61px;
    font-size: 14.5px;
    letter-spacing: -0.45px;
    line-height: 22px;
  }

  .support {
    color: #609fff;
    cursor: pointer;
    text-decoration: underline;
  }
  .support:hover {
    color: #3888ff;
  }
  .support:active {
    color: #150068;
  }

  .image-404 {
    left: 34.25%;
    top: 108px;
    width: 190px;
    height: 83px;
  }

  .btn-back {
    margin-top: 31px;
  }

  .video {
    margin-top: 69px;
    margin-bottom: 46px;
    width: 600px;
    height: 338px;
  }
}
@media screen and (max-width: 639px) {
  .main .wrapper {
    padding-top: 50px;
  }
  .main h3 {
    margin-top: 33px;
    font-size: 20px;
  }
  .main p {
    font-size: 15px;
    letter-spacing: -0.43px;
    line-height: 22px;
    margin-top: 0px;
    text-align: center;
  }
  .main h3 + p {
    margin-top: 14px;
    width: 180px;
  }
  .main p:last-child {
    width: 275px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 12px;
    letter-spacing: -0.45px;
    line-height: 18px;
  }

  .support {
    color: #609fff;
    cursor: pointer;
    text-decoration: underline;
  }
  .support:hover {
    color: #3888ff;
  }
  .support:active {
    color: #150068;
  }

  .image-404 {
    left: 19.25%;
    top: 47px;
    width: 185px;
    height: 83px;
  }

  .btn-back {
    width: 244px;
    margin-top: 25px;
    height: 49px;
    font-size: 14px;
  }

  .video {
    margin-top: 39px;
    margin-bottom: 30px;
    width: 300px;
    height: 170px;
  }
}
/********* FOOTER ************/
.footer {
  height: 767px;
  background-color: black;
}
.footer .wrapper-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1919px) {
  .footer {
    height: 720px;
  }
  .footer .wrapper-inner {
    margin: 0 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .footer {
    height: 701px;
  }
}
@media screen and (max-width: 639px) {
  .footer {
    height: 777px;
  }
}
.footer-main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}
.footer-main h2 {
  color: #fcfcfc;
}

.footer-main_logos {
  flex: 1 0 30%;
}
.footer-main_logos div:first-child {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-main_logos div:first-child:hover {
  transform: scale(1.05);
}
.footer-main_logos div:first-child a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.footer-main_logos div:last-child {
  margin-top: 190px;
  display: flex;
  align-items: center;
}
.footer-main_logos div:last-child span {
  margin-left: 24px;
  margin-right: 24px;
}

.footer-main_nav {
  flex: 1 0 33%;
  padding-left: 22px;
}

.footer-nav {
  margin-top: 42px;
}
.footer-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 315px;
}
.footer-nav li > a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 1.7325rem;
  letter-spacing: 0px;
  color: #bcbcbc;
}
.footer-nav li > a:hover {
  color: #3888ff;
}
.footer-nav li > a:active {
  color: #fcfcfc;
}

.footer-main_donate {
  flex: 1 0 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-main_donate p {
  margin-top: 48px;
  color: #bcbcbc;
}

.btn-donate {
  margin-top: 42px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 1.4375rem;
  letter-spacing: 0px;
  color: #bcbcbc;
  background-color: transparent;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-donate:hover {
  background-color: transparent;
  border-color: #3888ff;
  color: #3888ff;
}
.btn-donate:active {
  background-color: transparent;
  border-color: #fcfcfc;
  color: #fcfcfc;
}

.social {
  margin-top: 82px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.social li > a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Rubik";
  line-height: 1.5rem;
  letter-spacing: 0px;
  color: #bcbcbc;
}
.social li > a:hover {
  color: #3888ff;
}
.social li > a:active {
  color: #fcfcfc;
}

.footer-logos-text {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 1.1875rem;
  letter-spacing: 0px;
  color: #fcfcfc;
}

@media screen and (max-width: 1919px) {
  .footer-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
  }

  .footer-main_logos {
    flex: 1 0 25.7%;
  }
  .footer-main_logos div:first-child {
    width: 120px;
  }
  .footer-main_logos div:first-child img {
    width: 100%;
    height: 100%;
  }
  .footer-main_logos div:last-child {
    margin-top: 99px;
    height: 176px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-main_logos div:last-child span {
    margin-left: 58px;
    margin-right: 24px;
  }

  .footer-main_nav {
    flex: 1 0 38%;
    padding-left: 0px;
  }

  .footer-nav {
    margin-top: 42px;
  }

  .footer-main_donate {
    flex: 1 0 36%;
  }
  .footer-main_donate p {
    width: 320px;
    font-size: 18px;
    line-height: 28px;
  }

  .btn-donate {
    margin-top: 40px;
    width: 340px;
    height: 60px;
    font-size: 19px;
  }

  .social {
    margin-top: 94px;
    width: 380px;
  }
  .social li > a {
    font-size: 22px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 17px;
  }

  .footer-main_logos {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    height: 200px;
  }
  .footer-main_logos div:first-child {
    width: 114px;
  }
  .footer-main_logos div:first-child img {
    width: 100%;
    height: 100%;
  }
  .footer-main_logos div:last-child {
    margin-top: 0px;
    height: 200px;
    padding-top: 87px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: initial;
  }
  .footer-main_logos div:last-child span {
    margin-left: 1px;
    margin-right: 24px;
    margin-top: 16px;
  }
  .footer-main_logos .side-logos img:first-child {
    width: 30%;
    height: 44%;
    margin-left: 85px;
  }
  .footer-main_logos .side-logos img:last-child {
    width: 23%;
    height: 34%;
    margin-top: 8px;
  }

  .footer-main_nav {
    flex: 1 0 38%;
    max-width: 210px;
    padding-left: 0px;
    margin-top: -33px;
  }

  .footer-nav {
    margin-top: 39px;
  }
  .footer-nav ul {
    height: 300px;
  }
  .footer-nav li > a {
    font-size: 16px;
  }

  .footer-main_donate {
    flex: 1 0 36%;
    margin-top: -33px;
  }
  .footer-main_donate p {
    width: 330px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
  }

  .btn-donate {
    margin-top: 36px;
    width: 318px;
    height: 60px;
    font-size: 17px;
  }

  .social {
    margin-top: 48px;
    width: 367px;
  }
  .social li > a {
    font-size: 18px;
  }
}
@media screen and (max-width: 639px) {
  .footer-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 58px;
  }

  .footer-main_logos {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  .footer-main_logos div:first-child {
    width: 62px;
  }
  .footer-main_logos div:first-child img {
    width: 100%;
    height: 100%;
  }
  .footer-main_logos div:last-child {
    margin-top: 0px;
    height: 228px;
    padding-top: 70px;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: initial;
  }
  .footer-main_logos div:last-child span {
    margin-left: 37px;
    margin-right: 33px;
    margin-top: 21px;
  }
  .footer-main_logos .side-logos img:first-child {
    width: 53%;
    height: 46%;
    margin-left: 1px;
    margin-top: 19px;
  }
  .footer-main_logos .side-logos img:last-child {
    width: 56%;
    height: 40%;
    margin-top: 30px;
  }

  .footer-main_nav {
    flex: 1 0 50%;
    max-width: 210px;
    padding-left: 10px;
    margin-top: 0px;
  }
  .footer-main_nav h2 {
    font-size: 18px;
  }

  .footer-nav {
    margin-top: 20px;
  }
  .footer-nav ul {
    height: 242px;
  }
  .footer-nav li > a {
    font-size: 14px;
  }

  .footer-main_donate {
    flex: 1 0 100%;
    margin-top: 21px;
    align-items: center;
  }
  .footer-main_donate h2 {
    font-size: 18px;
  }
  .footer-main_donate p {
    width: 290px;
    font-size: 14px;
    line-height: 22px;
    margin-top: 28px;
    letter-spacing: 0.2px;
    text-align: center;
  }

  .btn-donate {
    margin-top: 29px;
    width: 301px;
    height: 57px;
    font-size: 15px;
  }

  .social {
    margin-top: 34px;
    width: 300px;
  }
  .social li > a {
    font-size: 14px;
  }
}
.footer-row {
  height: 134px;
  display: flex;
  border-top: 1px solid #fcfcfc;
  justify-content: space-between;
  align-items: center;
}
.footer-row p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 1.4375rem;
  letter-spacing: 0px;
  color: #bcbcbc;
}

@media screen and (max-width: 1919px) {
  .footer-row {
    height: 104px;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer-row {
    height: 61px;
    margin-top: 30px;
  }
  .footer-row p {
    font-size: 14.2px;
  }
}
@media screen and (max-width: 639px) {
  .footer-row {
    height: 82px;
    margin-top: 9px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-row p {
    font-size: 11px;
    letter-spacing: -0.1px;
  }
}