<div class="header">
  <div class="logo-container" [class.hidden]="true">
    <div class="logo" inlineSVG="./assets/icons/logo.svg" [replaceContents]="false">
      <!-- Insert anchor to #about onclick -->
    </div>
  </div>
  <nav>
    <ul>
      <li routerLinkActive="active"><a routerLink="">About</a></li>
      <li routerLinkActive="active"><a routerLink="/map">Map</a></li>
      <li><a routerLink="/zoos">Zoos</a></li>
      <li><a routerLink="/zoos">Contact us</a></li>
      <li><a href="https://www.figma.com/file/74wXlorl9mZQP0uhqDg83j/Online-Zoo" target="_blank">
          Design</a></li>
    </ul>
  </nav>
  <div class="login">
    <button class="btn btn_filled btn_round btn_login" inlineSVG="./assets/icons/login.svg"
      [setSVGAttributes]="{'transform': 'scale(0.65)'}" [replaceContents]="false"></button>
  </div>
  <div class="burger"><img src="../../../../assets/images1/icons/icon-burger.svg" alt=""></div>
</div>
