@import "../../../../variables.scss";

.wrapper {
  width: 1800px;
  margin: 0 auto;
  height: 100%;
}

.wrapper-inner {
  width: 1432px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.wrapper-inner_one-side {
  width: 1616px;
  margin-left: auto;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1919px) {
  .wrapper {
    width: 1120px;
  }

  .wrapper-inner {
    width: 976.25px;
    margin-left: auto;
    margin-right: 0;
  }

  .wrapper-inner_one-side {
    width: 976.25px;
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .wrapper {
    width: 600px;
  }

  .wrapper-inner {
    width: 600px;
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper-inner_one-side {
    width: 600px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 639px) {
  .wrapper {
    width: 300px;
  }

  .wrapper-inner {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper-inner_one-side {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }
}

.famous-pets {
  margin-top: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #d9e8ff;

  .wrapper {
    padding-top: 101px;
    padding-bottom: 96px;
  }

  .wrapper-inner {
    height: 100%;
  }
}

.famous-pets-info {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 220px;
  }

  h3 {
    width: 325px;
    margin-top: 49px;
  }
}

.direction-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin-top: 54px;
}

@media screen and (max-width: 1919px) {
  .famous-pets {
    margin-top: 100px;

    .wrapper {
      padding-top: 94px;
      padding-bottom: 40px;
    }

    .wrapper-inner {
      width: 832.5px;
      margin-right: auto;
    }
  }

  .famous-pets-info {
    flex-basis: 20%;
  }

  .famous-pets-info {
    h2 {
      margin-top: 125px;
      font-size: 20px;
    }

    h3 {
      width: 250px;
    }
  }

  .direction-buttons {
    margin-top: 31px;
    width: 132px;

    button {
      width: 56px;
      height: 56px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .famous-pets {
    margin-top: 80px;

    .wrapper {
      padding-top: 0px;
      padding-bottom: 81px;
    }

    .wrapper-inner {
      width: 100%;
      flex-direction: column;
    }
  }

  .famous-pets-info {
    flex-basis: 100%;
    align-items: center;
  }

  .famous-pets-info {
    h2 {
      margin-top: 60px;
      font-size: 20px;
    }

    h3 {
      margin-top: 32px;
      width: 210px;
      text-align: center;
    }
  }

  .direction-buttons {
    margin-top: 34px;
  }
}

@media screen and (max-width: 639px) {
  .famous-pets {
    margin-top: 58px;

    .wrapper {
      padding-top: 0px;
      padding-bottom: 60px;
    }
  }

  .famous-pets-info {
    h2 {
      margin-top: 56px;
      font-size: 16px;
    }

    h3 {
      margin-top: 28px;
      width: 180px;
      text-align: center;
      letter-spacing: 0.5px;
    }
  }

  .direction-buttons {
    margin-top: 29px;
  }
}
