<div class="content-container">
  <app-aside></app-aside>
  <app-header></app-header>
  <!--
  <section class="about" id="about">
    <div class="wrapper">
      <div class="wrapper-inner">
        <div class="about-info">
          <h1 class="visually-hidden">Online Zoo</h1>
          <h2 class="tag">Wild park</h2>
          <h3 class="tagline">Watch your favorite animal onl<span><span>ı</span><span class='dot'>.</span></span>ne
          </h3>
          <div class="button-holder">
            <button class="btn btn__filled" onclick="window.location='pages/map/map.html'">
              Choose zoo</button>
            <button class="btn btn__hollow" onclick="window.location='pages/zoos/panda.html'">
              Watch online</button>
          </div>
        </div>
        <div class="about-image">
          <img src="assets/images/panda.jpg" alt="Panda">
        </div>
      </div>
    </div>
  </section>

  <section class="howto" id="howto">
    <div class="wrapper">
      <div class="wrapper-inner">
        <div class="howto-image">
          <img src="assets/images/lion.jpg" alt="Lion">
        </div>
        <div class="howto-info">
          <h2>How Zoo online works</h2>
          <h3>Our service will give you an unforgettable experience of observing
            and interacting with animals remotely
          </h3>
          <p>Zoo Online is a web application with which you can watch live cages
            of different animals in nature reserves and zoos online and, if you
            wish, donate to the needs of the animal you like
          </p>
          <button class="btn btn__filled" onclick="window.location='pages/zoos/panda.html'">
            Try now</button>
        </div>
      </div>
    </div>
  </section>

  <section class="famous-pets" id="famous-pets">
    <div class="wrapper">
      <div class="wrapper-inner">
        <div class="famous-pets-info">
          <h2>Famous pets</h2>
          <h3>You can choose any animal you&nbsp;like</h3>
          <div class="direction-buttons">
            <button class="btn-round left">
              <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.292892 8.7071C-0.0976315 8.31658 -0.0976314 7.68342
                  0.292893 7.29289L6.65686 0.928931C7.04738 0.538406 7.68054 0.538406 8.07107
                  0.928931C8.46159 1.31946 8.46159 1.95262 8.07107 2.34314L2.41421 8L8.07107
                  13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738
                  15.4616 6.65685 15.0711L0.292892 8.7071ZM29 9L1 9L1 7L29 7L29 9Z" fill="#FCFCFC" />
              </svg>
            </button>
            <button class="btn-round right">
              <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.7071 8.7071C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431
                  0.928931C21.9526 0.538406 21.3195 0.538406 20.9289 0.928931C20.5384 1.31946
                  20.5384 1.95262 20.9289 2.34314L26.5858 8L20.9289 13.6569C20.5384 14.0474
                  20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071
                  8.7071ZM6.3452e-08 9L28 9L28 7L-6.3452e-08 7L6.3452e-08 9Z" fill="#FCFCFC" />
              </svg>
            </button>
          </div>
        </div>
        <div class="slider">
          <div class="slider-grid">
            <div class="slider-card" data-column="1">
              <img src="assets/images/animals/little-panda.jpg" alt="Little panda">
              <div class="slider-card__text">
                <div class="slider-card__text-plus"><span>+</span></div>
                <p class="slider-card__text-geo">China, East Asia</p>
                <p class="slider-card__text-descrip">Little panda</p>
                <p class="slider-card__text-follow">Follow</p>
              </div>
            </div>
            <div class="slider-card" data-column="1">
              <img src="assets/images/animals/panda.jpg" alt="Panda">
              <div class="slider-card__text">
                <div class="slider-card__text-plus"><span>+</span></div>
                <p class="slider-card__text-geo">Western central China</p>
                <p class="slider-card__text-descrip">Panda</p>
                <p class="slider-card__text-follow">Follow</p>
              </div>
            </div>
            <div class="slider-card" data-column="2">
              <img src="assets/images/animals/penguin.jpg" alt="Penguin">
              <div class="slider-card__text">
                <div class="slider-card__text-plus"><span>+</span></div>
                <p class="slider-card__text-geo">Sea of the Southern Hemisphere, Antarctic waters</p>
                <p class="slider-card__text-descrip">Penguin</p>
                <p class="slider-card__text-follow">Follow</p>
              </div>
            </div>
            <div class="slider-card" data-column="2">
              <img src="assets/images/animals/eagle.jpg" alt="Eagle">
              <div class="slider-card__text">
                <div class="slider-card__text-plus"><span>+</span></div>
                <p class="slider-card__text-geo">North America Islands near Los Angeles</p>
                <p class="slider-card__text-descrip">Eagle</p>
                <p class="slider-card__text-follow">Follow</p>
              </div>
            </div>
            <div class="slider-card" data-column="3">
              <img src="assets/images/animals/squirrel.jpg" alt="Squirrel">
              <div class="slider-card__text">
                <div class="slider-card__text-plus"><span>+</span></div>
                <p class="slider-card__text-geo">Russia, forests in the Orenburg region</p>
                <p class="slider-card__text-descrip">Squirrel</p>
                <p class="slider-card__text-follow">Follow</p>
              </div>
            </div>
            <div class="slider-card" data-column="3">
              <img src="assets/images/animals/gorilla.jpg" alt="Gorilla">
              <div class="slider-card__text">
                <div class="slider-card__text-plus"><span>+</span></div>
                <p class="slider-card__text-geo">Equatorial forests of western and central Africa</p>
                <p class="slider-card__text-descrip">Gorilla</p>
                <p class="slider-card__text-follow">Follow</p>
              </div>
            </div>
            <div class="slider-card" data-column="4">
              <img src="assets/images/animals/slide-tiger.png" alt="Tiger">
              <div class="slider-card__text">
                <div class="slider-card__text-plus"><span>+</span></div>
                <p class="slider-card__text-geo">Russia, Amur region</p>
                <p class="slider-card__text-descrip">Tiger</p>
                <p class="slider-card__text-follow">Follow</p>
              </div>
            </div>
            <div class="slider-card" data-column="4">
              <img src="assets/images/animals/slide-alligator.png" alt="Alligator">
              <div class="slider-card__text">
                <div class="slider-card__text-plus"><span>+</span></div>
                <p class="slider-card__text-geo">American state of Florida</p>
                <p class="slider-card__text-descrip">Alligator</p>
                <p class="slider-card__text-follow">Follow</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="payment" id="payment">
    <div class="wrapper">
      <div class="wrapper-inner_one-side">
        <h2>Pay & feed</h2>
        <div class="payment-instruction">
          <div class="payment-instruction__text">
            <h3>Pay with VISA card</h3>
            <p>On the payment page, you need to enter the details of your "Visa" card and make a transfer. The
              operation
              will not take more than ~2 minutes.</p>
          </div>
          <div class="payment-instruction__text">
            <h3>Payment goes to the zoo</h3>
            <p>Payment goes to the account of the zoo and volunteers with employees receive a notification about the
              donation.</p>
          </div>
          <div class="payment-instruction__text">
            <h3>The selected animal receives a treat</h3>
            <p>The staff takes the food you need for your chosen animal and delivers it to the animal. With your help,
              the
              animal is happy!</p>
          </div>
          <div class="payment-instruction__image"></div>
          <div class="payment-instruction__image"></div>
          <div class="payment-instruction__image"></div>
          <div class="payment-instruction__arrow"></div>
          <div class="payment-instruction__arrow"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="reviews" id="testimonials">
    <div class="wrapper">
      <div class="wrapper-inner_one-side">
        <div class="testimonial">
          <h2>Testimonials</h2>
          <h3>You can make us smile</h3>
          <p>We want to make animal observation and interaction accessible.
            You can leave your wishes on how to make the service more convenient,
            and most importantly, more interesting for you.</p>
          <button class="btn btn__filled">Leave feedback</button>
        </div>
        <div class="reviews-section">
          <div class="see-more">
            <button class="btn">
              <span>See more reviews</span>
              <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.601 7.10104C21.933 6.7691 21.933 6.23091 21.601 5.89896L16.1917
                  0.489594C15.8597 0.157648 15.3215 0.157648 14.9896 0.489594C14.6576 0.821539
                  14.6576 1.35973 14.9896 1.69168L19.7979 6.5L14.9896 11.3083C14.6576 11.6403
                  14.6576 12.1785 14.9896 12.5104C15.3215 12.8424 15.8597 12.8424 16.1917
                  12.5104L21.601 7.10104ZM-7.43094e-08 7.35L21 7.35L21 5.65L7.43094e-08
                  5.65L-7.43094e-08 7.35Z" fill="#3888FF" />
              </svg>
            </button>
          </div>
          <div class="review-container">
            <div class="review-slider">
              <div class="review-card">
                <h4>Alena Andreeva</h4>
                <p>“Had a great time with my kids and made the cute pandas happy with delicious
                  treats. I think I will use your service more than once, thanks!”</p>
              </div>
              <div class="review-card">
                <h4>Joe Brown</h4>
                <p>“Thank you for the cool service, I turn on broadcasts with animals while working
                  in the background, it relaxes and cheers up”</p>
              </div>
            </div>
          </div>
          <div class="direction-buttons">
            <button class="btn-round left">
              <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.292892 8.7071C-0.0976315 8.31658 -0.0976314 7.68342
                  0.292893 7.29289L6.65686 0.928931C7.04738 0.538406 7.68054 0.538406 8.07107
                  0.928931C8.46159 1.31946 8.46159 1.95262 8.07107 2.34314L2.41421 8L8.07107
                  13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738
                  15.4616 6.65685 15.0711L0.292892 8.7071ZM29 9L1 9L1 7L29 7L29 9Z" fill="#0B0B0B" />
              </svg>
            </button>
            <button class="btn-round right">
              <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.7071 8.7071C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431
                  0.928931C21.9526 0.538406 21.3195 0.538406 20.9289 0.928931C20.5384 1.31946
                  20.5384 1.95262 20.9289 2.34314L26.5858 8L20.9289 13.6569C20.5384 14.0474
                  20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071
                  8.7071ZM6.3452e-08 9L28 9L28 7L-6.3452e-08 7L6.3452e-08 9Z" fill="#0B0B0B" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="zoogeography" id="zoogeography">
    <div class="wrapper">
      <div class="wrapper-inner_one-side">
        <div class="zoogeography-container">
          <h2>Zoogeography</h2>
          <div class="zoogeography-card__container">
            <div class="zoogeography-card" data-animal="eagle">
              <div class="zoogeography-card__image">
                <img src="assets/images/card-eagle.jpg" alt="Eagle" style="object-position: 0 0;">
              </div>
              <h3>Eagle</h3>
              <p>The broadcast is from an island near&nbsp;Los Angeles. Watch their real life.</p>
              <button class="btn" onclick="window.location='pages/zoos/eagle.html'">
                <span>Watch now</span>
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.601 7.10104C21.933 6.7691 21.933 6.23091 21.601 5.89896L16.1917
                  0.489594C15.8597 0.157648 15.3215 0.157648 14.9896 0.489594C14.6576 0.821539
                  14.6576 1.35973 14.9896 1.69168L19.7979 6.5L14.9896 11.3083C14.6576 11.6403
                  14.6576 12.1785 14.9896 12.5104C15.3215 12.8424 15.8597 12.8424 16.1917
                  12.5104L21.601 7.10104ZM-7.43094e-08 7.35L21 7.35L21 5.65L7.43094e-08
                  5.65L-7.43094e-08 7.35Z" fill="#3888FF" />
                </svg>
              </button>
            </div>
            <div class="zoogeography-card" data-animal="gorilla">
              <div class="zoogeography-card__image">
                <img src="assets/images/card-gorilla.jpg" alt="Gorilla" style="object-position: 0% 20%;">
              </div>
              <h3>Gorilla</h3>
              <p>The broadcast comes from the Democratic Republic of the Congo in a forest area.
                Watch their life and their life together
              </p>
              <button class="btn" onclick="window.location='pages/zoos/gorilla.html'">
                <span>Watch now</span>
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.601 7.10104C21.933 6.7691 21.933 6.23091 21.601 5.89896L16.1917
                  0.489594C15.8597 0.157648 15.3215 0.157648 14.9896 0.489594C14.6576 0.821539
                  14.6576 1.35973 14.9896 1.69168L19.7979 6.5L14.9896 11.3083C14.6576 11.6403
                  14.6576 12.1785 14.9896 12.5104C15.3215 12.8424 15.8597 12.8424 16.1917
                  12.5104L21.601 7.10104ZM-7.43094e-08 7.35L21 7.35L21 5.65L7.43094e-08
                  5.65L-7.43094e-08 7.35Z" fill="#3888FF" />
                </svg>
              </button>
            </div>
            <div class="zoogeography-card" data-animal="alligator">
              <div class="zoogeography-card__image">
                <img src="assets/images/card-alligator.jpg" alt="Alligator">
              </div>
              <h3>Alligator</h3>
              <p>The broadcast is from Florida. See their real life</p>
              <button class="btn" onclick="window.location='pages/zoos/alligator.html'">
                <span>Watch now</span>
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.601 7.10104C21.933 6.7691 21.933 6.23091 21.601 5.89896L16.1917
                  0.489594C15.8597 0.157648 15.3215 0.157648 14.9896 0.489594C14.6576 0.821539
                  14.6576 1.35973 14.9896 1.69168L19.7979 6.5L14.9896 11.3083C14.6576 11.6403
                  14.6576 12.1785 14.9896 12.5104C15.3215 12.8424 15.8597 12.8424 16.1917
                  12.5104L21.601 7.10104ZM-7.43094e-08 7.35L21 7.35L21 5.65L7.43094e-08
                  5.65L-7.43094e-08 7.35Z" fill="#3888FF" />
                </svg>
              </button>
            </div>
            <div class="zoogeography-card" data-animal="panda">
              <div class="zoogeography-card__image">
                <img src="assets/images/card-panda.jpg" alt="Panda">
              </div>
              <h3>Panda</h3>
              <p>The broadcast comes from the mountainous regions of central China: Sichuan
                and Tibet. See their real life together.
              </p>
              <button class="btn" onclick="window.location='pages/zoos/panda.html'">
                <span>Watch now</span>
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.601 7.10104C21.933 6.7691 21.933 6.23091 21.601 5.89896L16.1917
                  0.489594C15.8597 0.157648 15.3215 0.157648 14.9896 0.489594C14.6576 0.821539
                  14.6576 1.35973 14.9896 1.69168L19.7979 6.5L14.9896 11.3083C14.6576 11.6403
                  14.6576 12.1785 14.9896 12.5104C15.3215 12.8424 15.8597 12.8424 16.1917
                  12.5104L21.601 7.10104ZM-7.43094e-08 7.35L21 7.35L21 5.65L7.43094e-08
                  5.65L-7.43094e-08 7.35Z" fill="#3888FF" />
                </svg>
              </button>
            </div>
          </div>

        </div>
        <div class="zoogeography-map-container">
          <div class="zoogeography-map">
            <object class="marker-eagle marker-active" data="assets/images/icons/marker-eagle.svg" type="image/svg+xml"
              data-animal="eagle"></object>
            <object class="marker-panda" data="assets/images/icons/marker-panda.svg" type="image/svg+xml"
              data-animal="panda"></object>
            <object class="marker-gorilla" data="assets/images/icons/marker-gorilla.svg" type="image/svg+xml"
              data-animal="gorilla"></object>
            <object class="marker-alligator" data="assets/images/icons/marker-alligator.svg" type="image/svg+xml"
              data-animal="aligator"></object>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->
  <app-footer></app-footer>
  <!-- <div class="feedback-popup-container feedback-hidden">
    <div class="feedback-popup">
      <h3>Your feedback</h3>
      <span class="close">&times;</span>
      <form class="feedback-form">
        <div>
          <label>Your name:</label>
          <input type="name" placeholder="Ellie Coward">
          <span class="error error-hide">Name is two short</span>
        </div>
        <div>
          <label>Your e-mail:</label>
          <input type="email" placeholder="example@gmail.com">
          <span class="error error-hide">Please enter a valid email</span>
        </div>
        <div>
          <label>Your review:</label>
          <textarea></textarea>
          <span class="error error-hide">Your review is too short</span>
        </div>
      </form>
      <button class="btn btn__filled feedback-form__button btn_disabled" disabled>Send for moderation</button>
    </div>
  </div> -->
