<div class="feedback-popup-container feedback-hidden">
  <div class="feedback-popup">
    <h3>Your feedback</h3>
    <span class="close">&times;</span>
    <form class="feedback-form">
      <div>
        <label>Your name:</label>
        <input type="name" placeholder="Ellie Coward">
        <span class="error error-hide">Name is two short</span>
      </div>
      <div>
        <label>Your e-mail:</label>
        <input type="email" placeholder="example@gmail.com">
        <span class="error error-hide">Please enter a valid email</span>
      </div>
      <div>
        <label>Your review:</label>
        <textarea></textarea>
        <span class="error error-hide">Your review is too short</span>
      </div>
    </form>
    <button class="btn btn__filled feedback-form__button btn_disabled" disabled>Send for moderation</button>
  </div>
</div>