h2 {
  @include typography(22, 400, 26.07, "Rubik", $black, 0.115em);
}

h3 {
  @include typography(36, 700, 52.2);
}

h4 {
  @include typography(24, 500, 32.4, "Rubik", $black);
}

p {
  @include typography(18, 400, 27.72, "Rubik", $gray);
}

.tag {
  color: #626262;
}

@media screen and (max-width: 1919px) {
  h3 {
    font-size: 28px;
    line-height: 41px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1199px) {
  h3 {
    font-size: 25px;
    line-height: 36px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 639px) {
  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 19px;
    line-height: 29px;
  }

  p {
    font-size: 15px;
    line-height: 22px;
  }
}

