<div class="footer">
  <div class="footer_logos">
    <div class="logo">
      <div inlineSVG="./assets/icons/logo.svg" [replaceContents]="false"
        [setSVGAttributes]="{'transform': 'scale(3)', 'transform-origin': 'top left'}">
        <!-- <img src="../../../../assets/images1/logo-big.svg" alt=""> -->
        <!-- Anchor to #about -->
      </div>
    </div>
    <div class="side-logos">
      <div inlineSVG="./assets/icons/logo-yem.svg"></div>
      <div>x</div>
      <div inlineSVG="./assets/icons/logo-RS.svg"></div>
    </div>
  </div>
  <div class="footer-main_nav">
    <h2>Navigation</h2>
    <nav class="footer-nav">
      <ul>
        <li><a href="#about">Watch online</a></li>
        <li><a href="#howto">How it works</a></li>
        <li><a href="#famous-pets">Famous pets</a></li>
        <li><a href="#payment">Pay &amp; feed</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="#zoogeography">Zoogeography</a></li>
      </ul>
    </nav>
  </div>
  <div class="footer-main_donate">
    <h2>Support of volunteers</h2>
    <p>You can thank the volunteers for theit work. For example,
      caring for animals and sincere love for them.</p>
    <button class="btn btn_hollow btn_donate">Donate for volunteers</button>
    <ul class="social">
      <li><a href="https://instagram.com">Instagram</a></li>
      <li><a href="https://facebook.com">Facebook</a></li>
      <li><a href="https://twitter.com">Twitter</a></li>
    </ul>
  </div>
</div>
<div class="footer-row">
  <p>Copyright &copy;RSSchool and &copy;Yem Digital 2020 - 2021</p>
  <p>Designed by Vladislav Chernov</p>
</div>
