@import '../variables.scss';
@import '../typography.scss';
@import '../Button/button.scss';

.footer {
  height: 767px;
  background-color: black;

  .wrapper-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1919px) {
  .footer {
    height: 720px;

    .wrapper-inner {
      margin: 0 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    height: 701px;
  }
}

@media screen and (max-width: 639px) {
  .footer {
    height: 777px;
  }
}

.footer-main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding-top: 100px;

  h2 {
    color: $white;
  }
}

.footer-main_logos {
  flex: 1 0 30%;

  div:first-child {
    position: relative;
    width: fit-content;

    &:hover {
      transform: scale(1.05);
    }

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  div:last-child {
    margin-top: 190px;
    display: flex;
    align-items: center;

    span {
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}

.footer-main_nav {
  flex: 1 0 33%;
  padding-left: 22px;
}

.footer-nav {
  margin-top: 42px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 315px; //DEL
  }

  li > a {
    @include typography(18, 400, 27.72, "Rubik", #bcbcbc);

    &:hover {
      color: $hard-blue; //CHANGE
    }

    &:active {
      color: $white;
    }
  }
}

.footer-main_donate {
  flex: 1 0 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin-top: 48px;
    color: #bcbcbc;
  }
}

.btn-donate {
  margin-top: 42px;
  width: 100%;
  @include typography(16, 400, 23, "Rubik", #bcbcbc);
  background-color: transparent;
  border-color: #bcbcbc;
  color: #bcbcbc;

  &:hover {
    background-color: transparent;
    border-color: $hard-blue;
    color: $hard-blue;
  }

  &:active {
    background-color: transparent;
    border-color: $white;
    color: $white;
  }
}

.social {
  margin-top: 82px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  li > a {
    @include typography(20, 500, 24, "Rubik", #bcbcbc);

    &:hover {
      color: $hard-blue; //CHANGE
    }

    &:active {
      color: $white;
    }
  }
}

.footer-logos-text {
  @include typography(16, 400, 19, "Rubik", #fcfcfc);
}

@media screen and (max-width: 1919px) {
  .footer-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
  }

  .footer-main_logos {
    flex: 1 0 25.7%;

    div:first-child {
      width: 120px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    div:last-child {
      margin-top: 99px;
      height: 176px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      span {
        margin-left: 58px;
        margin-right: 24px;
      }
    }
  }

  .footer-main_nav {
    flex: 1 0 38%;
    padding-left: 0px;
  }

  .footer-nav {
    margin-top: 42px;
  }

  .footer-main_donate {
    flex: 1 0 36%;

    p {
      width: 320px;
      font-size: 18px;
      line-height: 28px;
    }
  }

  .btn-donate {
    margin-top: 40px;
    width: 340px;
    height: 60px;
    font-size: 19px;
  }

  .social {
    margin-top: 94px;
    width: 380px;

    li > a {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .footer-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 17px;
  }

  .footer-main_logos {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    height: 200px;

    div:first-child {
      width: 114px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    div:last-child {
      margin-top: 0px;
      height: 200px;
      padding-top: 87px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: initial;

      span {
        margin-left: 1px;
        margin-right: 24px;
        margin-top: 16px;
      }
    }

    .side-logos {
      img:first-child {
        width: 30%;
        height: 44%;
        margin-left: 85px;
      }

      img:last-child {
        width: 23%;
        height: 34%;
        margin-top: 8px;
      }
    }
  }

  .footer-main_nav {
    flex: 1 0 38%;
    max-width: 210px;
    padding-left: 0px;
    margin-top: -33px;
  }

  .footer-nav {
    margin-top: 39px;

    ul {
      height: 300px;
    }

    li > a {
      font-size: 16px;
    }
  }

  .footer-main_donate {
    flex: 1 0 36%;
    margin-top: -33px;

    p {
      width: 330px;
      font-size: 16px;
      line-height: 26px;
      margin-top: 30px;
    }
  }

  .btn-donate {
    margin-top: 36px;
    width: 318px;
    height: 60px;
    font-size: 17px;
  }

  .social {
    margin-top: 48px;
    width: 367px;

    li > a {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 639px) {
  .footer-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 58px;
  }

  .footer-main_logos {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    height: 300px;

    div:first-child {
      width: 62px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    div:last-child {
      margin-top: 0px;
      height: 228px;
      padding-top: 70px;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: initial;

      span {
        margin-left: 37px;
        margin-right: 33px;
        margin-top: 21px;
      }
    }

    .side-logos {
      img:first-child {
        width: 53%;
        height: 46%;
        margin-left: 1px;
        margin-top: 19px;
      }

      img:last-child {
        width: 56%;
        height: 40%;
        margin-top: 30px;
      }
    }
  }

  .footer-main_nav {
    flex: 1 0 50%;
    max-width: 210px;
    padding-left: 10px;
    margin-top: 0px;

    h2 {
      font-size: 18px;
    }
  }

  .footer-nav {
    margin-top: 20px;

    ul {
      height: 242px;
    }

    li > a {
      font-size: 14px;
    }
  }

  .footer-main_donate {
    flex: 1 0 100%;
    margin-top: 21px;
    align-items: center;

    h2 {
      font-size: 18px;
    }

    p {
      width: 290px;
      font-size: 14px;
      line-height: 22px;
      margin-top: 28px;
      letter-spacing: 0.2px;
      text-align: center;
    }
  }

  .btn-donate {
    margin-top: 29px;
    width: 301px;
    height: 57px;
    font-size: 15px;
  }

  .social {
    margin-top: 34px;
    width: 300px;

    li > a {
      font-size: 14px;
    }
  }
}

.footer-row {
  height: 134px;
  display: flex;
  border-top: 1px solid $white;
  justify-content: space-between;
  align-items: center;

  p {
    @include typography(16, 400, 23, "Rubik", #bcbcbc);
  }
}

@media screen and (max-width: 1919px) {
  .footer-row {
    height: 104px;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-row {
    height: 61px;
    margin-top: 30px;

    p {
      font-size: 14.2px;
    }
  }
}

@media screen and (max-width: 639px) {
  .footer-row {
    height: 82px;
    margin-top: 9px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;

    p {
      font-size: 11px;
      letter-spacing: -0.1px;
    }
  }
}
