@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  font-family: "Rubik", sans-serif;
  height: 100%;
}

h2 {
  @include typography(22, 400, 26.07, $black, "Rubik", 0.115em);
}

h3 {
  @include typography(36, 700, 52.2);
}

h4 {
  @include typography(24, 500, 32.4, $black, "Rubik");
}

p {
  @include typography(18, 400, 27.72, $gray, "Rubik");
}

.tag {
  color: #626262;
}

@media screen and (max-width: 1919px) {
  h3 {
    font-size: 28px;
    line-height: 41px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1199px) {
  h3 {
    font-size: 25px;
    line-height: 36px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 639px) {
  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 19px;
    line-height: 29px;
  }

  p {
    font-size: 15px;
    line-height: 22px;
  }
}

body {
  background-color: $white;
  padding-top: 25px;
}

@media screen and (max-width: 1199px) {
  .body {
    overflow-x: hidden;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content-container {
  position: relative;
}

@media screen and (max-width: 1199px) {
  body {
    padding-top: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  visibility: hidden;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;

  @include typography1(18, 500, 21.33, "Rubik", $white);

  &_filled {
    background-color: $dark-blue;
    border-color: $dark-blue;
    border-radius: 5px;
    color: $white;

    &:hover {
      background-color: $blue;
      border-color: $blue;
      color: $white;
    }

    &:active {
      background-color: $active;
      border-color: $active;
      color: $white;
    }
  }

  &_hollow {
    border: 2px solid $dark-blue;
    border-radius: 5px;
    background-color: inherit;
    color: $dark-blue;

    &:hover {
      background-color: inherit;
      border-color: $blue;
      color: $dark-blue;
    }

    &:active {
      background-color: inherit;
      border-color: $hard-blue;
      color: $dark-blue;
    }
  }

  &_round {
    border-radius: 50%;
  }
}

/*************** FEEDBACK POPUP ****************/
.feedback-popup-container {
  width: 100%;
  height: 100%;
  display: block;
  visibility: visible;
  overflow-y: scroll;
  z-index: 15;
  background-color: #000000c4;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}
.close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 52px;
  color: #d3d3d3;
  right: 20px;
  top: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}
.feedback-popup {
  position: absolute;
  top: 20px;
  left: 600px;
  width: 479px;
  height: 598px;
  background-color: $white;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  padding: 0 40px;
  cursor: default;

  h3 {
    @include typography1(36, 700, 52, "Merriweather", #000);
    margin-top: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .feedback-popup {
    top: 20px;
    left: 80px;
  }
}
@media screen and (max-width: 639px) {
  .feedback-popup-container {
    overflow-x: hidden;
  }
  .feedback-popup {
    width: 320px;
    height: 100vh;
    top: 0px;
    left: 0px;

    h3 {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .close {
    font-size: 40px;
  }
}

.feedback-form {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  //HERE

  div {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  label {
    height: 23px;
    margin-top: 34px;
    @include typography1(16, 400, 23.2, "Rubik", #7b7b7b);
  }

  input,
  textarea {
    @include typography1(20, 400, 27, "Rubik", #0b0b0b);
  }

  input {
    height: 34px;
    height: 40px;
    //margin-top: 34px;
    border: none;
    border-bottom: 2px solid #d3d3d3;
    outline: none;

    &::placeholder {
      color: #b5b5b5;
    }

    &:focus {
      border-bottom-color: #0b0b0b;
    }
  }

  textarea {
    height: 100px;
    padding: 10px;
  }
}

@media screen and (max-width: 639px) {
  .feedback-form label {
    margin-top: 20px;
  }
}

.feedback-hidden {
  display: none;
  z-index: -20;
  visibility: hidden;
}
.feedback-form__button {
  width: 100%;
  height: 66px;
  background-color: $dark-blue;
  border-color: $dark-blue;
  margin-top: 41px;
  // active  OR #d3d3d3;
}
.btn_disabled,
.btn_disabled:hover {
  cursor: default;
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}
.error {
  display: block;
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  color: #f00;
}

.error-hide {
  display: none;
}
/**********  ZOOGEOGRAPHY ***************/
