.howto {
  margin-top: 136px;

  .wrapper-inner {
    display: flex;
    justify-content: space-between;
  }
}

.howto-image {
  width: 511px;
  height: 762px;
  overflow: hidden;

  img {
    object-fit: cover;
    object-position: -362px 0;
    width: 100%;
    height: 100%;
  }
}

.howto-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 697px;

  h2 {
    margin-top: 140px;
  }

  h3 {
    margin-top: 50px;
  }

  p {
    margin-top: 41px;
    letter-spacing: 0.01px;
  }
}

.howto-info .btn__filled {
  margin-top: 61px;
  width: 220px;
}

@media screen and (max-width: 1919px) {
  .howto {
    margin-top: 201px;
  }

  .howto-image {
    width: 400px;
    height: 584px;

    img {
      width: 104%;
      height: 104%;
      object-position: -313px -8px;
    }
  }

  .howto-info {
    width: 544px;

    h2 {
      margin-top: 58px;
    }

    h3 {
      margin-top: 45px;
      font-size: 28px;
      line-height: 41px;
    }

    p {
      margin-top: 35px;
      font-size: 16px;
      line-height: 25px;
    }

    .btn__filled {
      margin-top: 50px;
      width: 212px;
      height: 59px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .howto {
    margin-top: 64px;

    .wrapper-inner {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .howto-image {
    width: 390px;
    height: 386px;
    margin-top: 61px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: 93% -33px;
      width: 120%;
      height: 112%;
    }
  }

  .howto-info {
    align-items: center;
    padding-left: 0px;

    h2 {
      margin-top: 58px;
    }

    h3 {
      width: 540px;
      margin-top: 44px;
      font-size: 28px;
      line-height: 39px;
      letter-spacing: -1px;
      text-align: center;
    }

    p {
      width: 540px;
      margin-top: 27px;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
    }

    .btn__filled {
      margin-top: 39px;
      width: 212px;
      height: 59px;
    }
  }
}

@media screen and (max-width: 639px) {
  .howto {
    margin-top: 0px;

    .wrapper-inner {
      flex-direction: column;
      align-items: center;
    }
  }

  .howto-image {
    width: 298px;
    height: 294px;
    margin-top: 55px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: 77% -70px;
      width: 130%;
      height: 150%;
    }
  }

  .howto-info {
    align-items: center;
    padding-left: 0px;

    h2 {
      margin-top: 56px;
    }

    h3 {
      width: 290px;
      margin-top: 27px;
      font-size: 19px;
      line-height: 29px;
      letter-spacing: 0.5px;
      text-align: center;
    }

    p {
      width: 295px;
      margin-top: 30px;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.5px;
      text-align: center;
    }

    .btn__filled {
      margin-top: 39px;
      margin-left: 6px;
      width: 212px;
      height: 60px;
    }
  }
}
